# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Models
*.ckpt

# Logging
runs/
wandb/

# IDE
.idea
.vscode

# Train scripts
torch/country_classification_torch.py

# Data
data/*
learning_data/*
